<div class="player-list">
    <div class="player-list__header">
        <div class="player-list__row">
            <span class="player-list__data">Name</span>
            <span class="player-list__data">Row</span>
            <span class="player-list__data">Team</span>
        </div>
    </div>
    <div class="player-list__body">
        <div class="player-list__row" *ngFor="let player of players">
            <span class="player-list__data">
                <span class="player__name">{{ player.name }}</span>
            </span>
            <span class="player-list__data">
                <span class="player__role">{{ player.role }}</span>
            </span>
            <span class="player-list__data">
                <span class="player__team">{{ player.team }}</span>
            </span>
        </div>
    </div>
<div>